{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>

<div class="time_container">
<body>
      <section id="header">
            <div class="time">
                  <h1 id="time_cst" style="color:white;font-size: 1em;"></h1>
                        <script>
                              var refresh_time = setInterval(CST_time, 100);
                              function CST_time() {
                              var date = new Date();
                              var cst = date.toTimeString();
                              document.getElementById("time_cst").innerHTML = cst;
                              }
                        </script>
            </div>
      </section>
</body>
</div>
{% endblock %}
